.fs
{
  font-size: xx-small;
}
.fs1
{
    font-size: x-small;
}
.small-box
{
  margin-bottom: 0px;
}


@media (max-width: 600px) {
    .fs2
    {
        font-size: x-small;
    }
  }  

  @media (max-width: 1025px) {
    .card-body1
    {
        
        display: flex;
    }
  }  

.active
{
  background-color: goldenrod;
  border-radius: 12px;
}